.filter-group {
  margin-bottom: 16px;
}
.input-group {
   display: inline-block;
 }
.input-group input[type="text"] {
  width: 65px; /* αλλάξτε το πλάτος όπως επιθυμείτε */
}

.filter-group label {
  margin-bottom: 8px;
  font-weight: bold;
}

.filter-group input[type="checkbox"] {
  margin-right: 8px;
}

.filter-group input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.filter-group input[type="checkbox"] {
  margin-top: 4px;
}
ul {
  list-style: none;
}