.modules {
  width: 100%;

  .modules-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320 * 1.2px);
    grid-auto-rows: auto;
    grid-auto-columns: 100%;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
