# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Built files
build/
dist/

# Parcel cache
.cache

# Optional eslint cache
.eslintcache

# Visual Studio Code workspace settings
.vscode/settings.json

# macOS files
.DS_Store
AppleDouble
Icon
._*

# Thumbs.db files
Thumbs.db

# Windows thumbnail cache
ehthumbs.db
ehthumbs_vista.db

# Windows desktop.ini files
desktop.ini