$module-width: 320px * 1.2;

.module-filter {
  padding: 10px;
  background-color: darkorange;

  .filter-group {
    margin-bottom: 16px;
  }

  .filter-box {
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-box.toggled {
    background-color: darkorange;
    color: #ddd;
  }

  .filter-burger {
    width: 45px;
    height: 45px;
    text-align: center;
  }

  .filter-burger.toggled {
    color: #ddd;
  }

  .input-group {
    display: inline-block;
  }

  .filter-group label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .filter-group input[type="checkbox"] {
    margin-right: 8px;
    margin-top: 4px;
  }

  .filter-group input[type="text"] {
    width: 60px; /* αλλάξτε το πλάτος όπως επιθυμείτε */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  ul {
    list-style: none;
  }

  .overlay {
    width: 150px;
  }
}
