/* Testing */
.module {
  .box {
    height: 80%;
    width: 80%;
  }

  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  background-color: #fff;
  height: 235px; /* 235px * 1.25 = 293.75px */
  width: 310px; /* 310px * 1.25 = 387.5px */
  display: flex;
  justify-content: center;
  align-items: center;

  .event-header {
    position: absolute;
    bottom: 305px;
    left: 50px;
    font-size: 23px;
    font-weight: bold;
  }

  /* style for the boxes at the bottom of the page */
  .events-style {
    position: absolute;
    bottom: 35px;
    left: 9%;
    display: flex;
  }

  /* style for every school */

  .event-school {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
  }

  /* style for every subject */
  .event-subject {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2px;
    color: darkorange;
  }

  /* style for the type of the subject */
  .event-subtype {
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
  }

  /* style and position for the small vector icon */
  .vector-icon {
    width: 19px;
    height: 19px;
    margin-left: 10px;
    margin-top: 20px;
  }

  /* style for the difficulty */
  .event-difficulty {
    font-weight: bold;
    font-size: 13px;
    margin-left: 30px;
    margin-top: -20px;
  }

  /* style for the rating icon */
  .rating-icon {
    width: 19px;
    height: 19px;
    margin-left: 55%;
    margin-top: -80px;
  }

  /* style for the rating */
  .event-rating {
    font-weight: bold;
    font-size: 13px;
    margin-left: 65%;
    margin-top: -60px;
  }

  /* style for the enrolled in a subject icon */
  .enrolled-icon {
    width: 19px;
    height: 19px;
    margin-left: 10px;
    margin-top: 20px;
  }

  /* style for the enrolled info */
  .event-enrolled {
    font-weight: bold;
    font-size: 13px;
    margin-left: 30px;
    margin-top: -20px;
  }

  /* style for the enroll button */
  .enrolled-button {
    position: relative;
    background-color: darkorange;
    color: white;
    left: 70%;
    top: -50px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}
