.module-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

// const containerStyle = {
//   minHeight: `calc(100vh - ${headerHeight ?? 0}px - ${footerHeight ?? 0}px)`,
//   // paddingTop: "20px",
//   // paddingBottom: "20px",
//   // paddingLeft: "20px",
//   // paddingRight: "20px",
//   height: "100%",
//   width: "100%",
// };
