.main-page {
  display: flex;
  flex-direction: column; /* set the height of the container to full viewport height */
  padding: 20px;

  .calendar {
    flex-grow: 1; /* make the calendar take up remaining vertical space */
    background-color: #fff;

    /* Add your styles for the calendar here */
  }

  .heading {
    margin: 0;
    color: #ff7420;
  }

  .text {
    margin-top: 20px;
  }

  .left-panel {
    width: 80%;
    float: left;
  }

  /* Right panel */

  .right-panel {
    width: 20%;
    background-color: rgb(28, 197, 99);
    height: fit-content;
    margin-top: 45px;
    overflow: auto;
    // float: right;
  }

.hh {
  font-size: 800;
  color:#ff7420;
  align-items: center;
  justify-items: center;
  display: flex;
}

  

  /* Main - Second */

  .app-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-text {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .orange-button {
    background-color: darkorange;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }

  .orange-button:hover {
    background-color: #ff8c00;
  }

  .right-section {
    width: 50%;

    img {
      width: 80%;
      height: 80%;
    }
  }

  .down-panel{
    height: 250px;
    clear: both;
  }

  .fetchAndSync-button{
    position: relative;      
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #ff8c00;
    border-radius: 8px;
    border: 2px solid #ff8c00;
    padding: 0.2em 1.0em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s ease;
    top: 50%;
    bottom: 50%;
    right: 0%;
    left: 0%;
  }

  .fetchAndSync-button:hover{
    background-color: #ff8c00;
    color: white;
    border: 2px solid #ff8c00;
  }

}
