/* stylelint-disable media-feature-range-notation */
.nav-menu {
  .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #ff7420;
  }

  .box-shadow {
    box-shadow: 0 0.25rem 0.75rem;
    color: rgb(0 0 0 / 5%);
  }

  @media (min-width: 768px) {
    .login-register {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .login-register a {
    display: inline-block;
  }

  .login-register span {
    display: inline-block;
  }

  .logout-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7420;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
  }

  .nav-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: left;
    border-left: 7px solid #ff7420;
    padding-left: 10px;
    margin-left: 10px;
  }
}
